# Converting PDF results of APMO 2011 to CSV

In the past, the results for APMO were reported in `PDF` format. We want to convert these to a more friendly `CSV` format for display and analysis.

In the case of APMO 2012, after copying and pasting the ranked table from the PDF to the text file in `results_pre2016/apmo2011_res_text.txt,` and a bit of tweaking we get the following:

```
1 KOREA 10 289 1 2 4 3
2 USA 10 269 1 2 4 3
...
34 SYRIA 10 5 0 0 0 0
35 QATAR 7 1 0 0 0 00
```

In other words, each row is a row of data, which we may directly read using `pandas.read_csv()`.We do this and perform some standarization. Then we save the info to `CSV`.

In [5]:
import pandas as pd

# We use a year variable for reusability.
year=2011

We open the file and split it by lines.

In [6]:
df=pd.read_csv('results_pre2016/apmo%s_res_text.txt' % year, sep=" ", header=None)
df.columns=['Rank', 'Country', '# of Contestants', 'Total Score', 'Gold Awards', 'Silver Awards', 'Bronze Awards', 'Honorable Mentions']
df

,Rank,Country,# of Contestants,Total Score,Gold Awards,Silver Awards,Bronze Awards,Honorable Mentions
0,1,KOREA,10,289,1,2,4,3
1,2,USA,10,269,1,2,4,3
2,3,THAILAND,10,228,1,2,4,3
3,4,PERU,10,223,1,2,4,3
4,5,TAIWAN,10,220,1,2,4,3
5,6,JAPAN,10,208,1,2,4,3
6,7,RUSSIA,10,205,1,2,4,3
7,8,SINGAPORE,10,205,1,2,4,3
8,9,BRAZIL,10,190,1,2,4,3
9,10,HONG_KONG,10,173,1,2,4,3
10,11,CANADA,10,164,1,2,4,3
11,12,AUSTRALIA,10,156,0,3,4,3
12,13,KAZAKHSTAN,10,154,0,3,4,3
13,14,MEXICO,10,141,0,3,4,3
14,15,INDONESIA,10,135,0,2,5,3
15,16,NEW_ZEALAND,10,128,1,1,5,1
16,17,ARGENTINA,10,121,0,2,5,2
17,18,MALAYSIA,10,108,1,0,4,1
18,19,AZERBAIJAN,10,101,0,2,4,0
19,20,TAJIKISTAN,10,82,0,0,3,0
20,21,TURKMENISTAN,10,78,0,1,2,0
21,22,SAUDI_ARABIA,10,60,0,1,1,1
22,23,PHILIPPINES,10,59,0,0,2,0
23,24,COSTA_RICA,5,49,1,0,2,0
24,25,COLOMBIA,10,41,0,0,0,1
25,26,CAMBODIA,10,41,0,0,0,1
26,27,BANGLADESH,5,26,0,0,0,1
27,28,ECUADOR,10,24,0,0,0,1
28,29,URUGUAY,2,20,0,0,1,0
29,30,TRINIDAD_AND_TOBAGO,10,18,0,0,0,0
30,31,EL_SALVADOR,9,16,0,0,1,0
31,32,CÔTE_D'IVOIRE,3,11,0,0,0,0
32,33,PAKISTAN,10,8,0,0,0,0
33,34,SYRIA,10,5,0,0,0,0
34,35,QATAR,7,1,0,0,0,0

From the information above, we note that we will need to change the name of some countries to get the standard country names that we are using.

In [7]:
df['Country']=df['Country'].str.title().str.replace('_', ' ')
df.loc[0,'Country']='Republic of Korea'
df.loc[1,'Country']='United States of America'
df.loc[29,'Country']='Trinidad and Tobago'
df.loc[31,'Country']="Côte d'Ivoire"
df

,Rank,Country,# of Contestants,Total Score,Gold Awards,Silver Awards,Bronze Awards,Honorable Mentions
0,1,Republic of Korea,10,289,1,2,4,3
1,2,United States of America,10,269,1,2,4,3
2,3,Thailand,10,228,1,2,4,3
3,4,Peru,10,223,1,2,4,3
4,5,Taiwan,10,220,1,2,4,3
5,6,Japan,10,208,1,2,4,3
6,7,Russia,10,205,1,2,4,3
7,8,Singapore,10,205,1,2,4,3
8,9,Brazil,10,190,1,2,4,3
9,10,Hong Kong,10,173,1,2,4,3
10,11,Canada,10,164,1,2,4,3
11,12,Australia,10,156,0,3,4,3
12,13,Kazakhstan,10,154,0,3,4,3
13,14,Mexico,10,141,0,3,4,3
14,15,Indonesia,10,135,0,2,5,3
15,16,New Zealand,10,128,1,1,5,1
16,17,Argentina,10,121,0,2,5,2
17,18,Malaysia,10,108,1,0,4,1
18,19,Azerbaijan,10,101,0,2,4,0
19,20,Tajikistan,10,82,0,0,3,0
20,21,Turkmenistan,10,78,0,1,2,0
21,22,Saudi Arabia,10,60,0,1,1,1
22,23,Philippines,10,59,0,0,2,0
23,24,Costa Rica,5,49,1,0,2,0
24,25,Colombia,10,41,0,0,0,1
25,26,Cambodia,10,41,0,0,0,1
26,27,Bangladesh,5,26,0,0,0,1
27,28,Ecuador,10,24,0,0,0,1
28,29,Uruguay,2,20,0,0,1,0
29,30,Trinidad and Tobago,10,18,0,0,0,0
30,31,El Salvador,9,16,0,0,1,0
31,32,Côte d'Ivoire,3,11,0,0,0,0
32,33,Pakistan,10,8,0,0,0,0
33,34,Syria,10,5,0,0,0,0
34,35,Qatar,7,1,0,0,0,0

Now we add the ISO three letter code that we use for navigation on the website. We load the info from the `iso-alpha-3.csv` file.

When we perform the merge, Pandas reorders the rows. This is an undesired behaviour, so we order back by rank. To do this, we first need to convert the rank column type to `int`.

In [8]:
codes=pd.read_csv('iso-alpha-3.csv')
data_coded=pd.merge(codes,df,left_on='country', right_on='Country', how='right').drop('country', axis=1)
data_coded['Rank']=data_coded.Rank.astype(int)
data_coded=data_coded.sort_values('Rank')
cols=data_coded.columns.tolist()
data_coded=data_coded[[cols[1],cols[0]]+cols[2:]]
data_coded.rename(columns={'code':'Code'}, inplace=True)
data_coded

,Rank,Code,Country,# of Contestants,Total Score,Gold Awards,Silver Awards,Bronze Awards,Honorable Mentions
16,1,KOR,Republic of Korea,10,289,1,2,4,3
33,2,USA,United States of America,10,269,1,2,4,3
30,3,THA,Thailand,10,228,1,2,4,3
21,4,PER,Peru,10,223,1,2,4,3
28,5,TWN,Taiwan,10,220,1,2,4,3
14,6,JPN,Japan,10,208,1,2,4,3
24,7,RUS,Russia,10,205,1,2,4,3
26,8,SGP,Singapore,10,205,1,2,4,3
4,9,BRA,Brazil,10,190,1,2,4,3
12,10,HKG,Hong Kong,10,173,1,2,4,3
6,11,CAN,Canada,10,164,1,2,4,3
1,12,AUS,Australia,10,156,0,3,4,3
15,13,KAZ,Kazakhstan,10,154,0,3,4,3
18,14,MEX,Mexico,10,141,0,3,4,3
13,15,IDN,Indonesia,10,135,0,2,5,3
19,16,NZL,New Zealand,10,128,1,1,5,1
0,17,ARG,Argentina,10,121,0,2,5,2
17,18,MYS,Malaysia,10,108,1,0,4,1
2,19,AZE,Azerbaijan,10,101,0,2,4,0
29,20,TJK,Tajikistan,10,82,0,0,3,0
32,21,TKM,Turkmenistan,10,78,0,1,2,0
25,22,SAU,Saudi Arabia,10,60,0,1,1,1
22,23,PHL,Philippines,10,59,0,0,2,0
8,24,CRI,Costa Rica,5,49,1,0,2,0
7,25,COL,Colombia,10,41,0,0,0,1
5,26,KHM,Cambodia,10,41,0,0,0,1
3,27,BGD,Bangladesh,5,26,0,0,0,1
10,28,ECU,Ecuador,10,24,0,0,0,1
34,29,URY,Uruguay,2,20,0,0,1,0
31,30,TTO,Trinidad and Tobago,10,18,0,0,0,0
11,31,SLV,El Salvador,9,16,0,0,1,0
9,32,CIV,Côte d'Ivoire,3,11,0,0,0,0
20,33,PAK,Pakistan,10,8,0,0,0,0
27,34,SYR,Syria,10,5,0,0,0,0
23,35,QAT,Qatar,7,1,0,0,0,0

Now the information is exactly in the form that we need. We save the work.

In [9]:
data_coded.to_csv('reports/by_country_ranked_%s.csv' % year,index=False)